html {
  font-family: sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  min-height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:hover, a:link, a:visited {
  text-decoration: none !important;
}

.header-main-div {
  width: 100%;
  height: 72px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.4rem;
}

.header-main-div .header-divs {
  padding: 22px;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main-div .nav-div img {
  margin-right: 30px;
}

.header-main-div .search-div {
  border-left: 1px solid #dcdacb;
  border-right: 1px solid #dcdacb;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-main-div .search-div .search-ikonica {
  color: grey;
  font-size: 17px;
  margin-right: 20px;
}

.header-main-div .search-div input, .header-main-div .search-div input:focus {
  border: 0;
}

.header-main-div .search-div input:focus {
  outline: none;
}

.header-main-div .register-div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 22px;
}

.header-main-div .register-div .nav-a {
  margin-right: 26px;
  color: #3c3b37;
}

.header-main-div .register-div .nav-a:hover, .header-main-div .register-div .nav-a:focus {
  color: #0f7c90;
}

.btn-m {
  height: 4rem;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 10rem;
  padding: 0 1.6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: bottom;
  color: #02b3e4;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.02rem;
  font-size: 1.4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-secondary-m, .btn-secondary-m:hover {
  background-color: transparent;
  border: 1px solid #dcdacb !important;
  color: #02b3e4;
}

.btn-primary-m, .btn-primary-m:hover {
  background-color: #02b3e4;
  color: white;
}

.btn-large-m {
  height: 4.8rem;
  font-size: 1.6rem;
}

body {
  font-family: 'SF Pro Text',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.6rem;
  color: #3c3b37;
}

.banner-wrapper {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  overflow: hidden;
}

.home-banner-div {
  width: 64.77%;
  background-image: url("./img/homepage-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
  padding-top: 38px;
  color: white;
  float: left;
}

.home-banner-div .banner-partners-div img {
  height: 44px;
  margin-right: 30px;
}

.home-banner-div .banner-p {
  width: 57.61%;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 24px;
  margin-top: 24px;
}

.home-banner-div .banner-h {
  font-size: 26px;
  line-height: 27px;
  font-weight: 700;
}

.banner-table-div {
  width: 35.22%;
  float: right;
  padding-top: 20px;
  padding-bottom: 24px;
}

.banner-table-div .table-header {
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 11px;
  text-align: center;
  font-weight: 300;
  color: #2e3d49;
}

.banner-table-div .table-header span {
  font-weight: bold;
}

.banner-table-div .tg {
  width: 100%;
  max-width: 100%;
  background-color: #f5fcfe;
  border-collapse: separate;
  border-spacing: 0;
  border-top: none !important;
}

.banner-table-div .tg td, .banner-table-div .tg tr, .banner-table-div .tg th {
  border-top: 1px solid white;
}

.banner-table-div .tg tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.banner-table-div .tg .first {
  background-color: white;
  border-top: none !important;
}

.banner-table-div .tg .table-p {
  width: 245px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 22px;
  height: 40px;
  text-transform: none;
  color: #525c65;
  text-align: left;
  border-top: 1px solid #fff;
}

.banner-table-div .table-blue {
  font-size: 13px;
  line-height: 24px;
  font-weight: 600;
  border-top: none;
  width: 105px;
  height: 40px;
  background-color: #02b3e4;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.banner-table-div .table-grey {
  font-size: 13px;
  line-height: 24px;
  font-weight: 600;
  border-top: none;
  width: 105px;
  height: 40px;
  background-color: #b4b9bd;
  border-left: 2px solid #fff;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.transform-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #3c3b37;
}

.transform-div .yt-vid {
  width: 58rem;
  margin-right: 6.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transform-div .transform-text {
  max-width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.instructor-wrapper {
  padding: 4rem 0;
}

.instructor-wrapper .instructor-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #3c3b37;
  background-color: #f8f8f1;
  height: 32rem;
}

.instructor-wrapper .instructor-div img {
  position: relative;
  width: 20.83%;
  margin-right: 9.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instructor-wrapper .instructor-div .instructor-text {
  max-width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.instructor-wrapper .business-div {
  color: #fff;
  background-color: #003640;
  margin-top: 4rem;
}

.instructor-wrapper .business-div img {
  margin-right: 0;
  margin-left: 9.6rem;
}

.categories-wrapper {
  width: 100%;
  max-width: 134rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

.categories-wrapper .h2-categories {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.categories-wrapper .categories-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories-wrapper .categories-row .categories-card {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 1.6rem;
  margin-bottom: 1.6rem;
  max-width: calc(100% / 4 - 1.6rem);
  border: 1px solid #dcdacb;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #0f7c90;
}

.categories-wrapper .categories-row .categories-card img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  height: auto;
}

.categories-wrapper .categories-row .categories-card div {
  min-height: 7.6rem;
  padding: 1.6rem;
}

.categories-wrapper .categories-row .categories-card div p {
  color: #3c3b37;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1.9rem;
}

.button {
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  text-decoration: none;
  vertical-align: middle;
  height: 48px;
  padding: 0 8px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 42px;
  -webkit-font-smoothing: antialiased;
  border-radius: 4;
  letter-spacing: 2px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.blue-btn {
  width: 220px;
  color: #fff;
  background-color: #02b3e4;
  border: 2px solid transparent;
  -webkit-box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
          box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
  display: inline-block;
}

.h2-style {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 3.2rem;
}

.p-style {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.9rem;
}

.border-top-1 {
  padding: 6.4rem 0;
  border-top: 1px solid #dcdacb;
}

.component-margin {
  margin-top: 6.4rem;
}

.footer-main-div {
  background-color: #fff;
  color: #8a92a3;
  font-size: 13px;
  line-height: 18px;
  width: 100%;
}

.footer-main-div .footer-links-div {
  max-width: 1440px;
  margin: 40px auto 30px;
}

.footer-main-div .footer-row {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.footer-main-div .footer-row .links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 110px;
}

.footer-main-div .footer-row .links-list li {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  list-style: none;
}

.footer-main-div .footer-row .links-list li a {
  color: inherit;
}

.footer-main-div .f-row-2 {
  padding-left: 16px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px auto;
}

.footer-main-div .f-row-2 .f-col-1 {
  max-width: 50%;
  height: 24px;
}

.footer-main-div .f-row-2 .f-col-1 p {
  color: #505763;
  font-size: 15px;
  padding-right: 48px;
  line-height: 24px;
}

.footer-main-div .f-row-2 .f-col-2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 24px;
}

.footer-main-div .f-row-2 .f-col-2 img {
  margin-right: 32px;
  width: auto;
  height: 24px;
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

.footer-main-div .footer-bottom {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 30px auto;
  color: #8a92a3;
}

.footer-main-div .footer-bottom .row {
  margin-left: -15px;
  margin-right: -15px;
}

.footer-main-div .footer-bottom .row ul li {
  display: inline-block;
  padding: 6px;
}

.footer-main-div .footer-bottom .row ul li a {
  color: inherit;
}

.a-blue-dark {
  color: #007791;
  background-color: transparent;
  font-weight: 700;
  text-decoration: none;
}

.a-blue-dark:hover, .a-blue-dark:focus {
  color: #003845;
  text-decoration: none;
}

li {
  color: inherit;
  list-style: none;
}

.text-right {
  text-align: right;
}

hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.faq-wrapper-div {
  font-family: Helvetica;
  color: #4A4A4A;
}

.faq-wrapper-div .faq-heading {
  padding-left: 25%;
  font-weight: 500;
  font-size: 35px;
  line-height: 1.5;
  margin-bottom: 25px;
  margin-top: 4rem;
}

.faq-wrapper-div hr {
  margin-bottom: 0;
}

.faq-wrapper-div .faq-main-div {
  display: table;
  width: 100%;
  padding-left: 25%;
  margin-bottom: 0;
}

.faq-wrapper-div .faq-main-div a {
  color: #007791;
}

.faq-wrapper-div .faq-main-div a:hover {
  color: #003845;
}

.faq-wrapper-div .faq-main-div .faq-text-div {
  margin-top: 35px;
  margin-right: 30px;
  margin-bottom: 50px;
}

.faq-wrapper-div .faq-main-div .faq-text-div p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 20px;
  text-rendering: optimizeLegibility;
}

.faq-wrapper-div .faq-main-div .faq-text-div .bold-p {
  font-weight: bold;
}

.faq-wrapper-div .faq-main-div .faq-sidebar-div {
  width: 50%;
  display: table-cell;
  vertical-align: top;
  background: #f6f6f6;
  border-left: 1px solid #E4E4E4;
}

.faq-wrapper-div .faq-main-div .faq-sidebar-div .faq-sidebar-content {
  padding-top: 30px;
  padding-left: 20px;
  width: 29%;
}

.faq-wrapper-div .faq-main-div .faq-sidebar-div .faq-sidebar-content h3 {
  color: #29303B;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 20px;
}

.faq-wrapper-div .faq-main-div .faq-sidebar-div .faq-sidebar-content .last-child-p {
  margin-bottom: 20px;
}

.faq-wrapper-div .faq-main-div .faq-sidebar-div .faq-sidebar-content a {
  font-size: 13px;
}

.faq-wrapper-div .faq-main-div .faq-sidebar-div .faq-sidebar-content .faq-button {
  display: block;
  color: #FFF;
  margin-top: 12px;
  margin-bottom: 20px;
  background: #007791;
  border-radius: 2px;
  border: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.72;
  min-width: 190px;
  padding: 0 30px;
  text-align: center;
  -webkit-transition: background-color .12s ease-in-out, border-color .12s ease-in-out, color .15s ease-in-out;
  transition: background-color .12s ease-in-out, border-color .12s ease-in-out, color .15s ease-in-out;
}

.faq-wrapper-div .faq-main-div .faq-sidebar-div .faq-sidebar-content .faq-button:hover {
  background: #00576b;
}

.form-input {
  border-radius: 5px;
  color: #29303b;
  font-size: 18px;
  height: auto;
  padding: 11px 45px 12px 40px;
  display: block;
  width: 100%;
  line-height: 1.43;
  background-color: #fff;
  background-image: none;
  border: 1px solid #8a92a3;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: border-color ease-in-out .08s,-webkit-box-shadow ease-in-out .08s;
  transition: border-color ease-in-out .08s,-webkit-box-shadow ease-in-out .08s;
  transition: border-color ease-in-out .08s,box-shadow ease-in-out .08s;
  transition: border-color ease-in-out .08s,box-shadow ease-in-out .08s,-webkit-box-shadow ease-in-out .08s;
}

.MuiButton-label {
  text-transform: capitalize;
  font-size: 1.4rem;
  color: #02b3e4;
  min-width: 68px;
}

.MuiTypography-h6 {
  font-weight: 700 !important;
  font-size: 15px !important;
}

.input-parent-div {
  position: relative;
  width: 332px;
  margin: 0 auto;
  margin-bottom: 8px;
  font-size: 15px;
}

.input-parent-div input {
  width: 332px;
}

.input-parent-div .input-parent-a {
  color: #007791;
}

.input-parent-div p {
  text-align: center;
  margin-top: 15px;
}

.input-ikonica {
  color: #cacbcc;
  font-size: 16px;
  left: 12px;
  line-height: 1;
  margin-top: 16px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 24px;
  z-index: 2;
}

.new-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 11px 12px;
  font-size: 15px;
  line-height: 1.35135;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.new-btn-primary {
  color: #fff;
  background-color: #ec5252;
  border: 1px solid transparent;
}

.new-btn-primary:hover {
  background-color: #992337;
  border-color: transparent;
}

.btn-primary-m span {
  color: white !important;
}

.signup-p {
  font-size: 10px;
  text-align: center;
  width: 100%;
}

.about-main-div .about-banner-div {
  height: 90.9375vw;
  max-height: 500px;
  width: 100%;
  background-image: url(https://about.udemy.com/wp-content/uploads/2016/05/company-collage-1440x490.jpg?v=2);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
}

.about-main-div .about-banner-div:after {
  background: rgba(0, 0, 0, 0.65);
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.about-main-div .about-banner-content {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1144px;
  z-index: 1;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-main-div .about-banner-content div {
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about-main-div .about-banner-content div h2 {
  line-height: 60px;
  text-align: center;
  font-weight: 300;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 46px;
  margin: 0 0 15px;
}

.about-main-div .our-section {
  padding: 80px 0;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: auto 80%;
}

.about-main-div .our-section .container {
  position: relative;
  width: 100%;
  max-width: 1144px;
  z-index: 1;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-main-div .our-section .container .origins-content {
  font-size: 1.4rem;
  line-height: 1.71;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.about-main-div .our-section .container .origins-content img {
  width: 50%;
  height: auto;
}

.about-main-div .our-section .container .origins-content div {
  width: 50%;
}

.about-main-div .our-section .container .origins-content div p {
  margin: 0 50px;
  font-size: 14px;
  line-height: 28px;
  color: #232c3b;
  font-weight: 400;
}

.about-main-div .our-section .container .offices-row {
  -webkit-box-align: start;
          align-items: flex-start;
  -ms-flex-align: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: justify;
  list-style: none;
  padding: 0;
}

.about-main-div .our-section .container .offices-row .office-li {
  max-width: 30%;
}

.about-main-div .our-section .container .offices-row .office-li img {
  min-height: 140px;
  margin-bottom: 20px;
  width: 100%;
}

.about-main-div .our-section .container .offices-row .office-li h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #232c3b;
  font-weight: 700;
}

.about-main-div .our-section .container .offices-row .office-li p {
  font-size: 15px;
  font-weight: 400;
  color: #6d7a91;
  margin-bottom: 15px;
}

.about-main-div .our-section .container .contact-us-p {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: #232c3b;
  font-weight: 300;
  margin-bottom: 30px;
}

.about-title {
  width: 100%;
  text-align: center;
  line-height: 1.3;
  position: relative;
  font-size: 35px;
  font-weight: 300;
  color: #232c3b;
  margin: 0 0 60px;
}

.about-title:after {
  content: "";
  width: 50px;
  height: 2px;
  left: 0;
  right: 0;
  background-color: #cacbcc;
  display: block;
  position: absolute;
  margin: auto;
  bottom: -20px;
}
/*# sourceMappingURL=index.css.map */