.add-course-div {

    font-size: 14px;
    margin: 0 8px;

    label {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .add-course-input{
        width: 100%;
        display: block;
    }
}

.admin-button {
    .MuiButton-label {
        color: white;
    }
}